<% layout('layout/boilerplate') %>
<div class="row">
  <h3 class="text-center">Constituent</h3>
  <div class="col-md-8 offset-3">
    <form
      action="/vitamins/<%= vitamin.id %>/constituent"
      method="POST"
      class="form-validation"
      novalidate
    >
      <div class="mb-3 col-9 px-5">
        <label for="name" class="form-label">Constituent</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="constituent"
          placeholder="Name of Constituent"
          required
        />
      </div>
      <div class="mb-3 col-9 px-5">
        <label for="dose" class="form-label">Strength</label>
        <input
          type="text"
          class="form-control"
          id="dose"
          name="strength"
          placeholder="Enter strength"
          required
        />
      </div>
      <div class="mb-3 col-9 px-5">
        <label for="eqv" class="form-label">Eqv</label>
        <input
          type="text"
          class="form-control"
          id="eqv"
          name="eqv"
          placeholder="Enter eqv here"
          required
        />
      </div>
      <div class="col-12 px-5">
        <button type="submit" class="btn btn-success">Add Constituent</button>
      </div>
    </form>
  </div>
</div>
