<% layout('layout/boilerplate') %>
<form action="/vitamins/create" method="POST" class="mt-5">
  <div class="mb-3 col-9 px-5">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Vitamin name here"
    />
  </div>
  <div class="mb-3 col-9 px-5">
    <label for="dosage" class="form-label">Dosage</label>
    <input
      type="text"
      class="form-control"
      id="dosage"
      name="dosage"
      placeholder="Enter the dosage form @example tablet"
    />
  </div>
  <div class="mb-3 col-9 px-5">
    <label for="company" class="form-label">Company</label>
    <input
      type="text"
      class="form-control"
      id="company"
      name="company"
      placeholder="Enter company name"
    />
  </div>
  <div class="col-12 px-5">
    <button type="submit" class="btn btn-primary">Add Vitamin</button>
  </div>
</form>
